.app {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.input-section {
  margin: 20px;
}

input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
  border: 1px solid #272323;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px auto;
  padding: 10px;
  background: #f2f2f2;
  width: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  margin-left: 5px;
  background-color: #008cba;
}

.buttons button:last-child {
  background-color: #f44336;
}
